section{
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 80px;
  padding-bottom:80px;
}
h1 {
  color: blue;
  font-size: 600%;
  font-style: oblique;
}

p {
  text-align: justify;
}

i {
  color: #DFD0D0
}
header{
  text-align: center;
  background-color: white;
}

table{
  border: 2px solid black;
  border-collapse: collapse;
  width: 80%;
}

th, td{
  border: 1px solid black;
  padding: 5px;
}
 th{
   background-color: lightgrey;
   border: 2px solid black;
 }

button{
  width: 180px;
  height: 30px;
  margin: 20px;
  font-weight: bold;
  color: blue;
  border: none;
}

button:hover,
#Home:hover,
#Admin:hover,
#Staff:hover,
#class:hover,
#subject:hover{
  background-color: #536514;
}

.teacher{
  font-weight: bold;
  font-size: 15px;
  color: #060F86;
}
#Home{
  background-color: #ABCDEF;
}

#Admin{
  background-color: #1AB6D0;
}
#Staff{
  background-color: #06FAFF;
}
#class{
  background-color: #03DBBF;
}
#subject{
  background-color: #ABDB03;
}

.next{
  text-align: right;
  padding-right: 30px;
}

.prev{
  text-align: left;
  padding-left: 30px;
}
@media (max-width: 599px) {
  .header-image{
    display: none;
  }
  section{
    padding:80px;
  }
  #subj{
    display: none;
  }
  .row{
    padding-left: 80px;
  }
}
