section{
  padding: 80px;
}
h1 {
  color: blue;
  font-size: 600%;
  font-style: oblique;
}

p {
  text-align: justify;
}

i {
  color: #004070
}
header{
  text-align: center;
}

table{
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
}

th, td{
  border: 1px solid black;
  padding: 5px;
}
 th{
   background-color: lightgrey;
   border: 2px solid black;
 }

button{
  width: 180px;
  height: 30px;
  margin: 20px;
  font-weight: bold;
}

button:hover{
  background-color: #536514;
}

.teacher{
  font-weight: bold;
  font-size: 15px;
  color: #060F86;
}
#Home{
  background-color: #ABCDEF;
}

#Admin{
  background-color: #1AB6D0;
}
#Staff{
  background-color: #06FAFF;
}
#class{
  background-color: #03DBBF;
}
#subject{
  background-color: #ABDB03;
}
