.col-lg-2, #subj_left,  #subj_right{
  text-align: justify;
  background-color: #DBE5E5;
  padding-left: 2%;
  position: fixed;
}
 #subj_right{
   right:0;
 }

.col-lg-8{
  margin-left: 250px;
  z-index: -1;
}

#MASC, #Soc_Sci{
  background-repeat: no-repeat;
  background-size:auto;
}
#MASC{
background-color: #DBEFEF;
}
#Soc_Sci{
  background-color: #DBE3E0;
}
.sub_btn{
  text-align: justify;
  color: grey;
  background-color: #DBE5E5;
  width:120px;
}
.sub_btn:hover{
  background-color: #aBd5d5;
}

.sub_head{
  margin-top: -8%;
  text-align: center;
}
#sub_body{
  margin-top: 15%;
}
